.App {
  text-align: center;
}

.menu .menu-link::after {
  content: attr(data-text);
  content: attr(data-text) / "";
  height: 0;
  visibility: hidden;
  overflow: hidden;
  user-select: none;
  pointer-events: none;
  font-weight: bold;

  @media speech {
    display: none;
  }
}
.underline {
  position: absolute;
  bottom: -1px;
  left: 0;
  right: 0;
  height: 1px;
  background: var(--dark);
}

body {
  --accent: #e4d9ff;
  --lightest: #fafaff;
  --darkest: #1e2749;
  --dark: #273469;
  width: 100vw;
  height: 100vh;
  background: var(--lightest);
  padding: 0;
  margin: 0;
}
